<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.arrownock.demo"
      android:theme="@android:style/Theme.Light"
      android:background="#ffffff"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-sdk
        android:targetSdkVersion="26"
        android:maxSdkVersion="17" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <application android:icon="@mipmap/ic_launcher" android:label="@string/app_name">
        <meta-data android:name="com.arrownock.push.SERVICE_TYPE" android:value="ARROWNOCK" />
        <!-- lightspeed -->
    	<!-- <meta-data android:name="com.arrownock.push.APP_KEY" android:value="68ia6x1acMXAmq2H1sT6ldmMvG1V5NiM"/> -->
    	<!-- arrownock -->
        <meta-data android:name="com.arrownock.push.APP_KEY" android:value="DF5735DD1C74Hm3XdsS9blr08Bsd82YV"/>
        <activity android:name=".TabsActivity"
                  android:label="@string/app_name"
                  android:allowBackup="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
                
        <service android:name="com.arrownock.push.PushService" />

        <!--  
        <receiver android:name="com.arrownock.push.PushBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.arrownock.push.PushService.MSG_ARRIVAL" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        -->
        <receiver android:name=".CustomReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.arrownock.push.PushService.MSG_ARRIVAL" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
	<activity android:name=".ReceiveActivity" />
	<activity android:name=".SendActivity" />
    </application>

</manifest> 